// tipografias
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// variables
$spacer: 2.5rem; //spacer = 2x mt-1 = 1/2x mt-2 = 1x mt-3=2x
$font-size-base: 0.75rem;

// root
:root {
  --red: #d72626;
  --bg: #171930;
  --red-low: #aa2328;
  --text-second: #ffffff99;
}

$font-family-base: "Inter", sans-serif;

@import "bootstrap/scss/bootstrap.scss";
